///////// SVG COLORS & TRANSITIOS
// rest of icon settings are src/components/icons
.menu-icon,
.icon-code,
.icon-backward,
.icon-forward {
  fill: var(--color-secondary);
  transition: all 0.5s;
  &:hover {
    transition: all 0.5s;
    cursor: pointer;
    transform: translateX(-0.5rem);
  }
}

.icon-code {
  margin-left: 2rem;
}

.icon-backward:hover {
  transform: translateX(-1rem);
}

.icon-forward:hover {
  transform: translateX(1rem);
}
