///////// SVG COLORS & TRANSITIOS
.menu-icon,
.icon-code,
.icon-backward,
.icon-forward {
  fill: var(--color-secondary);
  transition: all 1.5s;
}

.menu-icon,
.icon-code {
  &:hover {
    transition: all 0.5s;
    cursor: pointer;
    transform: translateX(-0.5rem);
  }
}

// push a bit right
.icon-code {
  margin-left: 2rem;
}

// arrows for grid & image viewer
.icon-backward:hover {
  transition: all 0.5s;
  cursor: pointer;
  transform: translateX(-0.5rem);
}

.icon-forward:hover {
  transition: all 0.5s;
  cursor: pointer;
  transform: translateX(0.5rem);
}

.icon-backward:active,
.icon-forward:active {
  transition: all 0.5s;
  transform: scale(1.2);
}
